.App {
  margin: 1rem;
  padding: 1rem;
}

.title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.dropdown-menu {
  height: 40vh;
  overflow: scroll;
  overflow-x: hidden;
  .country-comp {
    display: flex;
    cursor: pointer;
    &:hover {
      background-color: yellow;
    }
    .country-pic {
      display: flex;
      align-items: center;
      height: 1em;
      margin: auto 1rem;
    }
  }
}

.country-inp {
  background-color: rgb(152, 204, 152);
}

.clear-btn {
  background-color: rgb(32, 199, 199);
  width: 2rem;
  margin: 0 auto;
}

.hidden {
  // display: none;
  // visibility: hidden;
}
